.all {
    margin: 0%;
  

background: rgba(112, 255, 0, 0.09);
}



.MainContent {
    
   
    width: 740px;
    height: 550px;
    margin-left: 400px;
   
    margin-top: 62px;
    
}
.number {
  
   
    height: 318px;
    text-align: center;
    left: 428px;
    top: 121px;
    font-size:300px;
    color: orange;
    

}
.btn {
    display: flex;
    width: 742px;
    height: 60px;
    display:flex;
    justify-content: space-between;
    padding-top: 5%;
    text-align: center;


}
.footer {
   
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-left:25%;
    
   
    
}
.footerF {
   
    display: flex;
    justify-content: space-between;
    flex-basis: 60%
   
}
.intucod {
    flex-basis: 25%;
    
}
.first {
    background-color:aquamarine;
    width: 20%;
    border-radius: 5px;
    height: 45px;
    border: 1px solid aquamarine;
    color: white;
    
}
.second {
    background-color: orange;
    width: 20%;
    border-radius: 5px;
    height: 45px;
    border: 1px solid orange;
    color: white;
}
.third {
    width: 20%;
    border-radius: 5px;
    height: 45px;
}
